<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .custom-container {
            max-width: 400px;
            margin: 50px auto auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        label {
            margin-bottom: 0.5rem;
        }

        input, select {
            width: 100%;
            padding: 0.375rem 0.75rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            box-sizing: border-box;
        }

        button.registerbtn {
            background-color: rgb(98, 130, 130);
            color: #fff;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            width: 100%;
        }

        .registerbtn:hover {
            box-shadow: 0 0 5px black;
        }

        .error {
            color: red;
            font-style: italic;
        }

        .container.signin {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<form class="custom-container"
      th:action="@{/register/new-student}"
      method="post"
      th:object="${student}">
    <h1 class="mb-4">Create New Student Account</h1>
    <p class="mb-4"><em>Please fill in this form to create an account.</em></p>
    <hr>

    <div class="mb-3">
        <label for="firstname" class="form-label"><b>First Name</b></label>
        <input type="text" class="form-control" placeholder="Enter First Name" th:field="*{firstName}" id="firstname">
        <div th:if="${#fields.hasErrors('firstName')}"
           th:errorclass="error" th:errors="*{firstName}" class="error"></div>
    </div>

    <div class="mb-3">
        <label for="lastname" class="form-label"><b>Last Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Last Name" th:field="*{lastName}" id="lastname">
        <div th:if="${#fields.hasErrors('lastName')}"
             th:errorclass="error" th:errors="*{lastName}" class="error"></div>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" th:field="*{email}" id="email">
        <div th:if="${#fields.hasErrors('email')}"
             th:errorclass="error" th:errors="*{email}" class="error"></div>
        <div th:if="${emailMessage}" class="error" th:text="${emailMessage}"></div>
    </div>

    <div class="mb-3">
        <label for="psw" class="form-label"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" th:field="*{password}" id="psw">
        <div th:if="${#fields.hasErrors('password')}"
             th:errorclass="error" th:errors="*{password}" class="error"></div>
        <div th:if="${passwordMessage}" class="error" th:text="${passwordMessage}"></div>
    </div>

    <div class="mb-3">
        <label for="psw2" class="form-label"><b>Repeat Your Password</b></label>
        <input type="password" class="form-control" placeholder="Repeat Your Password" th:field="*{repeatPassword}" id="psw2">
        <div th:if="${#fields.hasErrors('repeatPassword')}"
             th:errorclass="error" th:errors="*{repeatPassword}" class="error"></div>
        <div th:if="${passwordMessage}" class="error" th:text="${passwordMessage}"></div>
    </div>

    <div class="mb-3">
        <label for="phone-number" class="form-label"><b>Phone Number</b></label>
        <input type="text" class="form-control" placeholder="Enter Phone Number" th:field="*{phoneNumber}" id="phone-number">
        <div th:if="${#fields.hasErrors('phoneNumber')}"
             th:errorclass="error" th:errors="*{phoneNumber}" class="error"></div>
    </div>

    <div class="mb-3">
        <label for="classNumberId" class="form-label"><b>Your grade:</b></label>
        <select class="form-select" th:field="*{classNumberId}" id="classNumberId">
            <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.number}" />
        </select>
        <div th:if="${#fields.hasErrors('classNumberId')}"
             th:errorclass="error" th:errors="*{classNumberId}" class="error"></div>
    </div>

    <button type="submit" class="btn btn-primary registerbtn">Register</button>
</form>

<div class="container signin mt-4">
    <p>Already have an account? <a href="/login">Sign in</a></p>
</div>
</body>
</html>
