<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <title>Are you a teacher or a student?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #ffffff;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: #fdfcf7;
            padding: 100px;
            border: 3px solid rgb(98, 130, 130);
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 0 12px black;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px;
            background-color: rgb(98, 130, 130);
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .button:hover {
            box-shadow: 0 0 5px black;
        }
    </style>
</head>
<body>
<!--<div th:include="~{old-header}"></div>-->
<div class="container">
    <h1>Are you a teacher or a student?</h1>

    <a th:href="@{/register/new-teacher}" class="button">Teacher</a>
    <a th:if="${not #lists.isEmpty(classes)}" th:href="@{/register/new-student}" class="button">Student</a>
</div>
<!--<div th:include="~{footer}"></div>-->
</body>
</html>
