<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .custom-container {
            max-width: 400px;
            margin: 50px auto auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        label {
            margin-bottom: 0.5rem;
        }

        .error {
            color: red;
            font-style: italic;
        }

        input, select {
            width: 100%;
            padding: 0.375rem 0.75rem;
            margin-bottom: 1rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            box-sizing: border-box;
        }

        button.addbtn {
            background-color: rgb(98, 130, 130);
            color: #fff;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            width: 100%;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<form class="custom-container"
      action="#" th:action="@{/class/add-class}"
      method="post"
      th:object="${newClass}">

    <h1 class="mb-4">Add Class with Subjects it Studies</h1>
    <hr>
    <div class="mb-3">
        <label for="className" class="form-label"><b>Class</b></label>
        <input type="text" class="form-control" placeholder="Enter Class Name" th:field="*{number}" id="className">
        <div th:if="${#fields.hasErrors('number')}"
             th:errorclass="error" th:errors="*{number}" class="error"></div>
        <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
    </div>

    <div class="mb-3">
        <label for="subjectsId" class="form-label"><b>Subjects:</b></label>
        <select class="form-select" th:field="*{subjectsId}" id="subjectsId" multiple>
            <option th:each="s : ${subjects}" th:value="${s.id}" th:text="${s.subjectName}" />
        </select>
        <div th:if="${#fields.hasErrors('subjectsId')}"
             th:errorclass="error" th:errors="*{subjectsId}" class="error"></div>
    </div>

    <button type="submit" class="btn btn-primary addbtn">Add</button>
</form>
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
<script>
    new MultiSelectTag('subjectsId')
</script>
</body>
</html>
