<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Your Diary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <style>
        body {
            text-align: center;
            background-color: #f8f9fa;
        }

        .classes-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 25px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            margin-top: 8%;
            margin-bottom: 1%;
            color: rgb(98, 130, 130);
        }

        .tables-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .table-container {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #dee2e6;
            font-size: large;
        }

        h3 {
            margin-bottom: 30px;
            font-style: italic;
            color: white;
            text-align: center;
            background-color: rgb(98, 130, 130);
        }

        thead {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }

        .button-container {
            width: 100%;
            margin-top: 20px;
        }

        .btn {
            background-color: rgb(98, 130, 130);
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: color 0.3s, box-shadow 0.3s;
        }

        .btn:hover {
            color: white;
            box-shadow: 0 0 5px black;
        }

        li {
            text-align: left;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="classes-container">
    <h1>Our Classes</h1>
    <h3>with subjects, they study</h3>
    <div class="tables-container">
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Subjects</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="class, classIndex : ${classes}">
                    <td th:text="${class.number}"></td>
                    <td>
                        <ul>
                            <li th:each="subject, subjectIndex : ${subjects[classIndex.index]}">
                                <span th:text="${subject}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/class/{id}/update(id=${class.id})}" class="btn btn-info">Update</a>
                        <a th:href="@{/users/classes/{classId}/students(classId=${class.id})}" class="btn btn-info">Students</a>
                        <a th:href="@{/users/classes/{classId}/teachers(classId=${class.id})}" class="btn btn-info">Teachers</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="button-container">
        <a sec:authorize="hasRole('ROLE_TEACHER')" href="/class/add-class" class="btn">
            Add new class
        </a>
    </div>
</div>
</body>
</html>

