<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            text-align: center;
        }

        .subjects-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: rgb(98, 130, 130);
        }

        p {
            font-style: italic;
            color: white;
            text-align: center;
            background-color: rgb(98, 130, 130);
        }

        table {
            width: 100%;
            margin: 20px auto;
            border-collapse: collapse;
            text-align: center;
        }

        th {
            color: #fff;
        }

    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="subjects-container">
    <h1 class="mb-4">Subjects</h1>
    <h2>Grade: <span th:text="*{class}"></span></h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.subjectName}"></td>
            <td th:text="${subject.teacherName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
