<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            text-align: center;
        }

        .subjects-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: rgb(98, 130, 130);
        }

        p {
            font-style: italic;
            color: white;
            text-align: center;
            background-color: rgb(98, 130, 130);
        }

        table {
            width: 100%;
            margin: 20px auto;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .btn:hover {
            box-shadow: 0 0 5px black;
        }

        .addbtn {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }

        .addbtn:hover {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }

    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="subjects-container">
    <h1 class="mb-2">Subjects</h1>
    <p>that we teach</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th sec:authorize="hasRole('ROLE_TEACHER')" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.subjectName}"></td>
            <td th:text="${subject.teacherName}"></td>
            <td>
                <form th:action="@{/subjects/delete/{subjectId}(subjectId=${subject.id})}" method="post">
                    <input type="hidden" name="id" th:value="${subject.id}" />
                    <button sec:authorize="hasRole('ROLE_TEACHER')" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ROLE_TEACHER')" href="/subjects/add" class="addbtn active btn" aria-current="true">
        Add new subject
    </a>
</div>
</body>
</html>
