<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .teachers-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: rgb(98, 130, 130);
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }

        .btn-info {
            background-color: rgb(98, 130, 130);
            border: none;
            color: #fff;
        }

        .btn:hover {
            transform: none;
            box-shadow: 0 0 5px black;
            background-color: rgb(98, 130, 130);
        }

        .btn-info:hover {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="teachers-container">
    <h1 class="mb-4">Our Teachers</h1>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></td>
            <td th:text="${teacher.phoneNumber}"></td>
            <td>
                <form th:action="@{/users/teacher/delete/{id}(id=${teacher.id})}" method="post">
                    <input type="hidden" name="id" th:value="${teacher.id}" />
                    <button sec:authorize="hasRole('ROLE_TEACHER')" type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a th:href="@{/users/teachers/{id}(id=${teacher.id})}" class="btn btn-info">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
