<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .custom-container {
            max-width: 400px;
            margin: 50px auto auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        label {
            margin-bottom: 0.5rem;
        }

        span.form-control {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            margin-bottom: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            box-sizing: border-box;
        }

        .user-image {
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            margin: 0 auto 20px;
            display: block;
        }

        .container.signin {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="custom-container">
    <h1 class="mb-4">Student Information</h1>
    <hr>

    <img src="/static/images/pupil.png" alt="User Image" class="user-image">

    <div>
        First Name: <span class="form-control" th:text="${student.firstName}"></span>
        Last Name: <span class="form-control" th:text="${student.lastName}"></span>
        Phone Number: <span class="form-control" th:text="${student.phoneNumber}"></span>
    </div>

    <div class="container signin mt-4">
        <p>Back to <a href="/start">Home</a>.</p>
    </div>
</div>
</body>
</html>

