<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .students-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: rgb(98, 130, 130);
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="students-container">
    <h1 class="mb-4">Grade: <span th:text="*{class.getNumber}"></span></h1>
    <hr>
    <h2>Students</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
            <td th:text="${student.phoneNumber}">
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
