<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .custom-container {
            max-width: 400px;
            margin: 50px auto auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        label {
            margin-bottom: 0.5rem;
        }

        input, select {
            width: 100%;
            margin-bottom: 1px;
            padding: 0.375rem 0.75rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            box-sizing: border-box;
        }

        button.addbtn {
            background-color: rgb(98, 130, 130);
            color: #fff;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            width: 100%;
        }

        button.addbtn:hover {
            background-color: rgb(98, 130, 130);
        }

        .error {
            color: red;
            font-style: italic;
        }

        .description {
            text-align: center;
            font-style: italic;
        }
    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<form class="custom-container"
      th:action="@{/schedules/students/create}"
      method="post"
      th:object="${schedule}">

    <h1 class="mb-4">Add New Schedule</h1>
    <p class="description">for one class, one subject, at certain time and weekday</p>
    <hr>

    <div class="mb-3">
        <label for="grade" class="form-label"><b>Class</b></label>
        <select class="form-select" th:field="*{classId}" id="grade" >
            <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.number}"></option>
        </select>
        <div th:if="${#fields.hasErrors('classId')}" th:errors="*{classId}" class="error"></div>
    </div>

    <div class="mb-3">
        <label for="day" class="form-label"><b>Day</b></label>
        <select class="form-select" th:field="*{day}" id="day" >
            <option th:value="MONDAY">Monday</option>
            <option th:value="TUESDAY">Tuesday</option>
            <option th:value="WEDNESDAY">Wednesday</option>
            <option th:value="THURSDAY">Thursday</option>
            <option th:value="FRIDAY">Friday</option>
            <option th:value="SATURDAY">Saturday</option>
            <option th:value="SUNDAY">Sunday</option>
        </select>
        <div th:if="${#fields.hasErrors('day')}" th:errors="*{day}" class="error"></div>
    </div>

    <label for="subject" class="form-label"><b>Subject</b></label>
    <select class="form-select" th:field="*{subjectId}" id="subject" >
        <option th:each="s : ${subjects}" th:value="${s.id}" th:text="${s.subjectName}"></option>
    </select>
    <div th:if="${#fields.hasErrors('subjectId')}" th:errors="*{subjectId}" class="error"></div>
    <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>

    <label for="startTime" class="form-label"><b>Starts at</b></label>
    <input type="time" class="form-control" placeholder="Enter in format hh:mm" th:field="*{startTime}" id="startTime">
    <div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error"></div>

    <label for="endTime" class="form-label"><b>Finishes at</b></label>
    <input type="time" class="form-control" placeholder="Enter in format hh:mm" th:field="*{endTime}" id="endTime">
    <div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error"></div>

    <button type="submit" class="btn btn-primary addbtn">Add</button>
</form>
</body>
</html>