<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Diary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        body {
            text-align: center;
            background-color: #f8f9fa;
        }

        .schedule-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #dee2e6;
            font-size: large;
        }

        thead {
            background-color: rgb(98, 130, 130);
            color: #fff;
        }

        .btn {
            background-color: rgb(98, 130, 130);
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: color 0.3s, box-shadow 0.3s;
            border: none;
        }

        .btn:hover {
            color: white;
            box-shadow: 0 0 5px black;
        }

        .error {
            color: red;
            font-style: italic;
        }

        div {
            margin: 10px 10px;
        }

    </style>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div class="schedule-container">
    <h1>Schedules for Teachers</h1>
    <form action="#" method="post"
          th:action="@{/schedules/teachers}"
          th:object="${request}">

        <div class="mb-3">
            <label for="classId">Subject: </label>
            <select class="form-select" th:field="*{subjectId}" id="classId" >
                <option th:each="s : ${subjects}" th:value="${s.id}" th:text="${s.subjectName}" th:selected="${s.id == request.subjectId}"/>
            </select>
            <div th:if="${#fields.hasErrors('subjectId')}"
                 th:errorclass="error" th:errors="*{subjectId}" class="error"></div>
        </div>

        <div class="mb-3">
            <label for="day">Day:</label>
            <select id="day" th:field="*{day}" th:default="*{day}" name="day" >
                <option th:selected="*{day == 'MONDAY'}" value="MONDAY">Monday</option>
                <option th:selected="*{day == 'TUESDAY'}"  value="TUESDAY">Tuesday</option>
                <option th:selected="*{day == 'WEDNESDAY'}" value="WEDNESDAY">Wednesday</option>
                <option th:selected="*{day == 'THURSDAY'}" value="THURSDAY">Thursday</option>
                <option th:selected="*{day == 'FRIDAY'}" value="FRIDAY">Friday</option>
                <option th:selected="*{day == 'SATURDAY'}" value="SATURDAY">Saturday</option>
                <option th:selected="*{day == 'SUNDAY'}" value="SUNDAY">Sunday</option>
            </select>
            <div th:if="${#fields.hasErrors('day')}"
                 th:errorclass="error" th:errors="*{day}" class="error"></div>
        </div>

        <div class="mb-3">
            <label for="date">Date:</label>
            <input type="date" th:field="*{date}" id="date" name="date">
            <div th:if="${#fields.hasErrors('date')}"
                 th:errorclass="error" th:errors="*{date}" class="error"></div>
            <p th:if="${request.date}">Selected Date: <span th:text="${#temporals.format(request.date, 'MM-dd-yyyy')}"></span></p>
        </div>

        <button type="submit" class="btn">Get Schedule</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Grade</th>
            <th>Hometasks</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="schedule, scheduleIndex : ${scheduleList}">
            <td th:each="class, classIndex : ${classes[scheduleIndex.index]}">
                <span th:text="${class}"></span>
            </td>
            <td>
                <ul th:each="task : ${schedule.tasks}">
                    <li th:text="${task.task}"></li>
                </ul>
            </td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.endTime}"></td>
            <td>
                <form th:action="@{/hometask/add}" method="post" th:object="${hometaskRequest}">
                    <input type="hidden" name="scheduleId" th:value="${schedule.id}" />
                    <input type="hidden" name="taskDeadline" th:value="${request.date.atTime(schedule.startTime)}" />

                    <div class="mb-3">
                        <label for="newTask">New Task:</label>
                        <input type="text" id="newTask" placeholder="Don't leave it empty" name="task" th:value="${hometaskRequest.task}"
                               pattern="^(?!\s*$).+" required />
                    </div>

                    <button type="submit" class="btn">Add Hometask</button>
                </form>
                <a th:if="${not #lists.isEmpty(schedule.tasks)}">
                    <form th:action="@{/hometask/delete/all}" method="post">
                        <input type="hidden" th:each="task : ${schedule.tasks}" name="taskIds" th:value="${task.id}" />
                        <button type="submit" class="btn btn-info">Delete hometasks</button>
                    </form>

                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/schedules/students/create" class="btn btn-info">Add schedule</a>
</div>
</body>
</html>

